---
layout: front
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, engineer, researcher]
    width: 6
    image: true
  - roles: [postdoc, phd]
    width: 6
    image: true
- - roles: [collab, master, master-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---
<div class="jumbotron">
 <img src="/img/cover.jpeg" alt="">
</div>


<div class="jumbotron">
    <p>
        The <b>4DSpace Research Group</b> at the <b>Faculty of Mathematics and Natural Sciences</b>, <b>University of Oslo</b>. It is an inderdisciplinary centre combining Departments of Physics, Informatics, and Mathematics.

Our goal is to understand the role of plasma instabilities and turbulence in the energy transfer, transport and coupling between different scales in the near Earth space.

We work with integrated studies of ionospheric plasma and our focus is on multi-point, multi-scale 4D (3D in space and time) studies with a new generation sounding rockets and satellites.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
