<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Long Term Statistical Space Weather Analysis.
			</span><br />
			<span class="authors">
				P Sado, L B N Clausen, W J Miloch, and H Nickisch.
			</span><br />
			<span class="venuetype"></span><span class="venue">18th European Space Weather Week, Zagreb, Croatia</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Ionospheric plasma structuring over Antarctica based on satellite and ground observations.
			</span><br />
			<span class="authors">
				Wojciech Jacek Miloch, Daria Kotova, and Yaqi Jin.
			</span><br />
			<span class="venuetype"></span><span class="venue">10th SCAR Open Science Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Magnetic field-aligned plasma currents in gravitational fields.
			</span><br />
			<span class="authors">
				Odd Erik Garcia, Egil Leer, HL P{\'e}cseli, and Jan Karsten Trulsen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Annales Geophysicae</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>

