<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Substorm onset prediction using machine learning classified auroral images.
			</span><br />
			<span class="authors">
				Pascal Sado, Lasse Boy Novock Clausen, Wojciech Jacek Miloch, and Hannes Nickisch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Space Weather 21(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Tandem Observations of Nighttime Mid-Latitude Topside Ionospheric Perturbations.
			</span><br />
			<span class="authors">
				Hosub Song, Jaeheung Park, Yaqi Jin, Yuichi Otsuka, Stephan Buchert, Jaejin Lee, and Yu Yi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Space Weather 21(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An Algorithm to Separate Ionospheric Turbulence Radar Echoes From Those of Meteor Trails in Large Data Sets.
			</span><br />
			<span class="authors">
				Magnus F Ivarsen, Jean-Pierre St-Maurice, Glenn C Hussey, Draven Galeschuk, Adam Lozinsky, Brian Pitzel, and Kathryn A McWilliams.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 128(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Transfer learning aurora image classification and magnetic disturbance evaluation.
			</span><br />
			<span class="authors">
				Pascal Sado, Lasse Boy Novock Clausen, Wojciech Jacek Miloch, and Hannes Nickisch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 127(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electron density fluctuations from Swarm as a proxy for ground-based scintillation data: A statistical perspective.
			</span><br />
			<span class="authors">
				Daria Kotova, Yaqi Jin, Luca Spogli, Alan G Wood, Jaroslav Urbar, James T Rawlings, Ian C Whittaker, Lucilla Alfonsi, Lasse BN Clausen, Per H{\o}eg, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Advances in Space Research</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The refractive and diffractive contributions to GPS signal scintillation at high latitudes during the geomagnetic storm on 7--8 September 2017.
			</span><br />
			<span class="authors">
				Yuhao Zheng, Chao Xiong, Yaqi Jin, Dun Liu, Kjellmar Oksavik, Chunyu Xu, Yixun Zhu, Shunzu Gao, Fengjue Wang, Hui Wang, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Space Weather and Space Climate</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The implications of ionospheric disturbances for precise GNSS positioning in Greenland.
			</span><br />
			<span class="authors">
				Jacek Paziewski, Per H{\o}eg, Rafal Sieradzki, Yaqi Jin, Wojciech Jarmolowski, M Mainul Hoque, Jens Berdermann, Manuel Hernandez-Pajares, Pawel Wielgosz, Haixia Lyu, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Space Weather and Space Climate</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Variability of ionospheric plasma: results from the ESA swarm mission.
			</span><br />
			<span class="authors">
				Alan G Wood, Lucilla Alfonsi, Lasse BN Clausen, Yaqi Jin, Luca Spogli, Jaroslav Urb{\'a}{\v{r}}, James T Rawlings, Ian C Whittaker, Gareth D Dorrian, Per H{\o}eg, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Space Science Reviews 218(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Small Peak in the Swarm-LP Plasma Density Data at the Dayside Dip Equator.
			</span><br />
			<span class="authors">
				Hosub Song, Jaeheung Park, Stephan Buchert, Yaqi Jin, Chi Kuang Chao, Jaejin Lee, and Yu Yi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 127(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Climatology and modeling of ionospheric irregularities over Greenland based on empirical orthogonal function method.
			</span><br />
			<span class="authors">
				Yaqi Jin, Lasse Clausen, Wojciech Jacek Miloch, Per H{\o}eg, Wojciech Jarmo{\l}owski, Pawel Wielgosz, Jacek Paziewski, Beata Milanowska, Mainul Hoque, Jens Berdermann, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Space Weather and Space Climate 12(23)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Multi-scale response of the high-latitude topside ionosphere to geospace forcing.
			</span><br />
			<span class="authors">
				Jaroslav Urbar, Luca Spogli, Antonio Cicone, Lasse BN Clausen, Yaqi Jin, Alan G Wood, Lucilla Alfonsi, Claudio Cesaroni, Daria Kotova, Per H{\o}eg, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Advances in Space Research</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Interferometric study of ionospheric plasma irregularities in regions of phase scintillations and HF backscatter.
			</span><br />
			<span class="authors">
				Andres Spicher, James LaBelle, John W Bonnell, Roger Roglans, Chrystal Moser, Stephen A Fuselier, Scott Bounds, Lasse BN Clausen, Francesca Di Mare, Connor A Feltman, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geophysical Research Letters 49(12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Small-Scale Irregularities Within Polarization Jet/SAID During Geomagnetic Activity.
			</span><br />
			<span class="authors">
				AA Sinevich, AA Chernyshov, DV Chugunin, AV Oinats, LBN Clausen, WJ Miloch, N Nishitani, and MM Mogilevsky.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geophysical Research Letters 49(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Interhemispheric variability of the electron density and derived parameters by the Swarm satellites during different solar activity.
			</span><br />
			<span class="authors">
				Daria Kotova, Yaqi Jin, and Wojciech Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Space Weather and Space Climate</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Numerical Study of Non-Linear Effects for a Swept Bias Langmuir Probe.
			</span><br />
			<span class="authors">
				Kai Morgan Kj{\o}lerbakken, Wojciech J Miloch, {\O}rjan Gr{\o}ttem Martinsen, Oliver Pabst, and Ketil R{\o}ed.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Plasma Science 50(5)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Dayside Scintillations of GPS Signals According to the Observations on the Svalbard Archipelago.
			</span><br />
			<span class="authors">
				VB Belakhovsky, Y Jin, and W Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bulletin of the Russian Academy of Sciences: Physics 86(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electron-neutral collisions effects on Langmuir probe in the lower E-region ionosphere.
			</span><br />
			<span class="authors">
				SM Brask, S Marholm, F Di Mare, S Adhikari, A Spicher, T Takahashi, and WJ Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Physics of Plasmas 29(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Ionospheric Plasma IRregularities-IPIR-data product based on data from the Swarm satellites.
			</span><br />
			<span class="authors">
				Yaqi Jin, Daria Kotova, Chao Xiong, Steffen M Brask, Lasse BN Clausen, Guram Kervalishvili, Claudia Stolle, and Wojciech J Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 127(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Wake formation behind Langmuir probes in ionospheric plasmas.
			</span><br />
			<span class="authors">
				Chun-Sung Jao, Sigvald Marholm, Andres Spicher, and Wojciech J Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Advances in Space Research 69(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Method for Forecasting Ionospheric Electron Content Fluctuations Based on the Optical Flow Algorithm.
			</span><br />
			<span class="authors">
				Enric Monte-Moreno, Manuel Hernandez-Pajares, Heng Yang, Alberto Garc{\'\i}a Rigo, Yaqi Jin, Per H{\o}eg, Wojciech J Miloch, Pawel Wielgosz, Wojciech Jarmo{\l}owski, Jacek Paziewski, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Geoscience and Remote Sensing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Spatial Structure of Polarization Jet according to NorSat-1 and Swarm Satellite Data.
			</span><br />
			<span class="authors">
				AA Sinevich, AA Chernyshov, DV Chugunin, WJ Miloch, and MM Mogilevsky.
			</span><br />
			<span class="venuetype"></span><span class="venue">Cosmic Research 59(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Statistical distribution of decameter scale (50 m) ionospheric irregularities at high latitudes.
			</span><br />
			<span class="authors">
				Yaqi Jin, Lasse BN Clausen, Andres Spicher, Magnus F Ivarsen, Yongliang Zhang, Wojciech J Miloch, and J{\o}ran I Moen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geophysical Research Letters 48(19)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Case studies of ionospheric plasma irregularities over Queen Maud Land, Antarctica.
			</span><br />
			<span class="authors">
				Arnlaug H Skj{\ae}veland, Daria S Kotova, and Wojciech J Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 126(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The influence of probe spacing and probe bias in a double Langmuir probe setup.
			</span><br />
			<span class="authors">
				Kai Morgan Kj{\o}lerbakken, Wojciech J Miloch, and Ketil R{\o}ed.
			</span><br />
			<span class="venuetype"></span><span class="venue">AIP Advances 11(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Influence of different types of ionospheric disturbances on GPS signals at polar latitudes.
			</span><br />
			<span class="authors">
				Vladimir B Belakhovsky, Yaqi Jin, and Wojciech J Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Annales Geophysicae</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Steepening Plasma Density Spectra in the Ionosphere: The Crucial Role Played by a Strong E-Region.
			</span><br />
			<span class="authors">
				Magnus F Ivarsen, Jean-Pierre St-Maurice, Yaqi Jin, Jaeheung Park, Wojciech Miloch, Andres Spicher, Young-Sil Kwak, and Lasse BN Clausen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 126(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Turbulence and Intermittency in the Winter Cusp Ionosphere Studied With the ICI Sounding Rockets.
			</span><br />
			<span class="authors">
				Francesca Di Mare, Andres Spicher, Lasse Boy Novock Clausen, Wojciech Jacek Miloch, and J{\o}ran Idar Moen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 126(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Studying the small-scale structure of a polarization jet during the April 20, 2018 geomagnetic storm.
			</span><br />
			<span class="authors">
				AA Sinevich, AA Chernyshov, Dmitry V Chugunin, Wojciech Jacek Miloch, and Mikhail M Mogilevsky.
			</span><br />
			<span class="venuetype"></span><span class="venue">Solar-Terrestrial Physics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lower-thermosphere--ionosphere (LTI) quantities: current status of measuring techniques and models.
			</span><br />
			<span class="authors">
				Minna Palmroth, Maxime Grandin, Theodoros Sarris, Eelco Doornbos, Stelios Tourgaidis, Anita Aikio, Stephan Buchert, Mark A Clilverd, Iannis Dandouras, Roderick Heelis, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">Annales Geophysicae</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				The lifetimes of plasma structures at high latitudes.
			</span><br />
			<span class="authors">
				Magnus F Ivarsen, Yaqi Jin, Andres Spicher, Wojciech Miloch, and Lasse BN Clausen.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 126(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Influence of the Ionosphere on the Parameters of the GPS Navigation Signals during a Geomagnetic Substorm.
			</span><br />
			<span class="authors">
				VI Zakharov, AA Chernyshov, W Miloch, and Y Jin.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geomagnetism and Aeronomy 60(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Electron Wing-Like Structures Formed at a Negatively Charged Spacecraft Moving in a Magnetized Plasma.
			</span><br />
			<span class="authors">
				Yohei Miyake, Wojciech Jacek Miloch, SH Kjus, and Hans L P{\'e}cseli.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 125(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				September
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Influence of the substorm precipitations and polar cap patches on the GPS signals at polar latitudes.
			</span><br />
			<span class="authors">
				Vladimir B Belakhovsky, Yaqi Jin, Wojciech J Miloch, Alexander V Koustov, and Ashton Reimer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Atmosphere, Ionosphere, Safety</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Influence of different ionospheric disturbances on the GPS scintillations at high latitudes.
			</span><br />
			<span class="authors">
				VB Belakhovsky, Y Jin, and WJ Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Novel Method for Circuits of Perfect Electric Conductors in Unstructured Particle-in-Cell Plasma--Object Interaction Simulations.
			</span><br />
			<span class="authors">
				Sigvald Marholm, Diako Darian, Mikael Mortensen, Richard Marchand, and Wojciech J Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Plasma Science 48(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Ionospheric plasma irregularities based on in situ measurements from the Swarm satellites.
			</span><br />
			<span class="authors">
				Yaqi Jin, Chao Xiong, Lasse Clausen, Andres Spicher, Daria Kotova, Steffen Brask, Guram Kervalishvili, Claudia Stolle, and Wojciech Miloch.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 125(7)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				In situ observations of ionospheric heating effects: first results from a joint SURA and NorSat-1 experiment.
			</span><br />
			<span class="authors">
				Alexander A Chernyshov, Dmitry V Chugunin, Vladimor L Frolov, Lasse Boy Novock Clausen, Wojciech Jacek Miloch, and Mikhail M Mogilevsky.
			</span><br />
			<span class="venuetype"></span><span class="venue">Geophysical Research Letters 47(13)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Two-Dimensional Reconstruction of Ionospheric Plasma Density Variations Using Swarm.
			</span><br />
			<span class="authors">
				A F{\ae}hn Follestad, Lasse Boy Novock Clausen, Wojciech Jacek Miloch, J IJssel, and Roger Haagmans.
			</span><br />
			<span class="venuetype"></span><span class="venue">Space Weather 18(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Relationship between TEC jumps and auroral substorm in the high-latitude ionosphere.
			</span><br />
			<span class="authors">
				Alexander A Chernyshov, Wojciech Jacek Miloch, Yaqi Jin, and Viktor I Zakharov.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific reports 10(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Simultaneous rocket and scintillation observations of plasma irregularities associated with a reversed flow event in the cusp ionosphere.
			</span><br />
			<span class="authors">
				Yaqi Jin, J{\o}ran I Moen, Andres Spicher, Kjellmar Oksavik, Wojciech J Miloch, Lasse BN Clausen, Mariusz Po{\.z}oga, and Yoshifumi Saito.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Geophysical Research: Space Physics 124(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Numerical study of plasma depletion region in a satellite wake.
			</span><br />
			<span class="authors">
				Hideyuki Usui, Yohei Miyake, Wojciech J Miloch, and Keisuke Ito.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Plasma Science 47(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>

